.mainContainer {
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.h1 {
    text-align: center;
    font-size: 4rem;
}

.p {
    opacity: 1;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageWrapper > img {
    filter: grayscale(100%);
    opacity: .6;
    border-image: linear-gradient(var(--primary-color), var(--primary-color)) fill 1;
    mix-blend-mode: overlay;
}

.imageWrapper {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.img1 {
    position: absolute;
    width: 28vw;
    top: 5rem;
    left: -5px;
}

.img2 {
    position: absolute;
    width: 36vw;
    top: 20rem;
    right: -10vw;
}

.img3 {
    position: absolute;
    width: 30vw;
    bottom: 0;
    left: 35vw;
}

.img4 {
    position: absolute;
    width: 24vw;
    top: 7rem;
    left: 55vw;
}