.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.displayObject {
    width: 100%;
    height: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
}

.img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    pointer-events: none;
}

.h1 {
    padding-left: 3rem;
}

.p {
    padding: 0 3rem 3rem;
    opacity: .7;
    z-index: 3;
    font-size: 1.5rem;
}

.coverImage {
    display: none;
}

@media (min-width: 610px) {
    .displayObject > .filter {
        display: none;
    }

    .img {
        display: none;
    }

    .mainContainer {
        flex-direction: row;
    }

    .displayObject {
        flex: 1;
        height: min(60vw, 100vh);
        
    }

    .object2 {
        border-left: solid 1px rgba(255, 255, 255, 0.4);
    }
    .object1 {
        border-left: solid 1px rgba(255, 255, 255, 0.4);
    }

    .h1 {
        font-size: 2.5rem;
    }

    .p {
        font-size: 1.2rem;
    }

    .coverImage {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        pointer-events: none;
        display: block;
    }
}
