.objectContainer {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
}

.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    margin: -32px auto 0;
    width: 80%;
    color: black;
    z-index: 2;
}

.id {
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    opacity: .4;
    word-spacing: .3rem;
    font-weight: 300;
}

.h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.7rem;
    font-weight: 400;
    margin: 0;
}

.pContainer {
    margin: 2rem 0;
}

.p {
    font-size: 1.5rem;
    margin: .8rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moreInfo {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.costContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin: 2rem 0;
}

.costContainer > p {
    margin: 0;
}

.costContainer > div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.btn {
    background-color: transparent;
    border: solid 1px black;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

@media (min-width: 768px) {
    .objectContainer {
        align-items: start;
    }

    .objectContainer.left {
        flex-direction: row;
        margin: 0 auto 0 5rem;
    }

    .objectContainer.right {flex-direction: row-reverse;}

    .img {
        width: 60vw;
    }


    .card {
        width: 20rem;
        margin-top: 15rem;
    }

    .card.left {
        margin-left: -10rem;
    }

    .card.right {
        margin-right: -10rem;
    }

}

@media (min-width: 1024px) {
    .img {
        width: min(60rem, 60vw);
    }

    .card.left {
        margin-left: -5rem;
    }

    .card.right {
        margin-right: -5rem;
    }
}

